.grupo{
    position: relative;
    margin-bottom:20px;
}
.inputform{
    background: none;
    color:#c6c6c6;
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 100%;
    border:none;
    border-bottom: 1px solid #36b9cc !important;
    resize: none;
}

.inputform:focus{
    outline: none;
    color: rgb(94,93,93);
}

.inputform:focus~label, 
.inputform:valid~label{
    position: absolute;
    top: -14px;
    font-size: 12px;
    color: #020492;
}

.labelsform{
    color: var(--colorTextos);
    font-size: 16px;
    position: absolute;
    left: 5px;
    top:10px;
    transition: 0.5s ease all;
    pointer-events: none;
}



.inputform:focus~.barra::before{
    width: 100%;
}
.barra{
    position: relative;
    display: block;
    width: 100%;
}
.barra::before{
    content: '';
    height: 2px;
    width: 0%;
    bottom: 0;
    position: absolute;
    background: linear-gradient(to right, #6A82FB, #020492);
    transition: 0.3s ease all;
    left: 0%;
}




